<div class="container">
  <header class="container__header">
    <button class="container__home-button" type="button">
      <img src="img/icons/homeIcon.svg" alt="Домой" />
    </button>
    <span class="container__name">project</span>
  </header>
  <ul class="container__list">
    <li class="container__item container__item-first">
      <ul class="container__background">
        <li
          class="container__background-bacteria container__background-bacteria-pulse"
        ></li>
        <li
          class="container__background-bacteria container__background-bacteria-zigzag"
        ></li>
        <li
          class="container__background-bacteria container__background-bacteria-oval"
        ></li>
        <li
          class="container__background-bacteria container__background-bacteria-float"
        ></li>
        <li class="container__background-sperm"></li>
      </ul>
      <div class="container__text">
        <span class="container__greeting">привет,</span>
        <h1 class="container__title">
          Это <span class="container__highlight">не</span> коммерческое задание
        </h1>
        <button class="button" type="button">Что дальше?</button>
      </div>
    </li>
    <li class="container__item container__item-scrollbar">
      <section class="description">
        <ul class="description__background">
          <li
            class="description__background-sperm description__background-sperm-first"
          ></li>
          <li
            class="description__background-sperm description__background-sperm-second"
          ></li>
          <li
            class="description__background-sperm description__background-sperm-third"
          ></li>
          <li
            class="description__background-sperm description__background-sperm-fourth"
          ></li>
          <li
            class="description__background-sperm description__background-sperm-fifth"
          ></li>
        </ul>
        <h3 class="description__title">Текст сообщения</h3>
        <div class="description__text">
          <p>
            <b>Lorem ipsum dolor sit amet</b>, consectetuer adipiscing elit.
            Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.
            Nulla consequat massa quis enim. Donec pede justo, fringilla vel,
            aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut,
            imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede
            mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum
            semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula,
            porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem
            ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra
            nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet.
            Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies
            nisi. Nam eget dui. Etiam rhoncus. Maecenas tempus, tellus eget
            condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem
            neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar,
            hendrerit id, lorem. Maecenas nec odio et ante tincidunt tempus.
            Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante.
            Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed
            fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed
            consequat, leo eget bibendum sodales, augue velit cursus nunc, quis
            gravida magna mi a libero. Fusce vulputate eleifend sapien.
            Vestibulum purus quam, scelerisque ut, mollis sed, nonummy id,
            metus. Nullam accumsan lorem in dui. Cras ultricies mi eu turpis
            hendrerit fringilla. Vestibulum ante ipsum primis in faucibus orci
            luctus et ultrices posuere cubilia Curae; In ac dui quis mi
            consectetuer lacinia. Nam pretium turpis et arcu. Duis arcu tortor,
            suscipit eget, imperdiet nec, imperdiet iaculis, ipsum. Sed aliquam
            ultrices mauris. Integer ante arcu, accumsan a, consectetuer eget,
            posuere ut, mauris. Praesent adipiscing. Phasellus ullamcorper ipsum
            rutrum nunc. Nunc nonummy metus. Vestibulum volutpat pretium libero.
            Cras id dui. Aenean ut eros et nisl sagittis vestibulum. Nullam
            nulla eros, ultricies sit amet, nonummy id, imperdiet feugiat, pede.
            Sed lectus. Donec mollis hendrerit risus. Phasellus nec sem in justo
            pellentesque facilisis. Etiam imperdiet imperdiet orci. Nunc nec
            neque. Phasellus leo dolor, tempus non, auctor et, hendrerit quis,
            nisi. Curabitur ligula sapien, tincidunt non, euismod vitae, posuere
            imperdiet, leo. Maecenas malesuada. Praesent congue erat at massa.
            Sed cursus turpis vitae tortor. Donec posuere vulputate arcu.
            Phasellus accumsan cursus velit. Vestibulum ante ipsum primis in
            faucibus orci luctus et ultrices posuere cubilia Curae; Sed aliquam,
            nisi quis porttitor congue, elit erat euismod orci, ac
          </p>
        </div>
      </section>
    </li>
    <li class="container__item">
      <section class="brand">
        <ul class="brand__background">
          <li
            class="brand__background-bubble brand__background-bubble-first"
          ></li>
          <li
            class="brand__background-bubble brand__background-bubble-second"
          ></li>
          <li
            class="brand__background-bubble brand__background-bubble-third"
          ></li>
          <li
            class="brand__background-bubble brand__background-bubble-fourth"
          ></li>
          <li
            class="brand__background-bubble brand__background-bubble-fifth"
          ></li>
          <li
            class="brand__background-bubble brand__background-bubble-sixth"
          ></li>
          <li
            class="brand__background-bubble brand__background-bubble-seventh"
          ></li>
          <li
            class="brand__background-bubble brand__background-bubble-eighth"
          ></li>
        </ul>
        <div class="brand__top">
          <span class="brand__name">Ключевое сообщение</span>
          <h2 class="brand__title">BREND<b class="brand__highlight">XY</b></h2>
        </div>
        <div class="brand__bottom">
          <div class="brand__food">
            <p>
              Ehicula ipsum a arcu cursus vitae. Eu non diam phasellus
              vestibulum lorem sed risus ultricies
            </p>
          </div>
          <div class="brand__right">
            <div class="brand__schedule">
              <p>A arcu cursus vitae</p>
            </div>
            <button class="brand__btn button button-plus" type="button">
              Подробнее
            </button>
          </div>
        </div>
        <div class="brand__bg"></div>
        <div class="brand__desc">
          <ul class="brand__list">
            <li class="brand__point">
              <span class="brand__number">01</span>
              <p class="brand__text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit
              </p>
            </li>
            <li class="brand__point">
              <span class="brand__number">02</span>
              <p class="brand__text">
                Faucibus pulvinar elementum integer enim
              </p>
            </li>
            <li class="brand__point">
              <span class="brand__number">03</span>
              <p class="brand__text">
                Faucibus pulvinar elementum integer enim
              </p>
            </li>
            <li class="brand__point">
              <span class="brand__number">04</span>
              <p class="brand__text">
                Mi bibendum neque egestas congue quisque egestas diam
              </p>
            </li>
            <li class="brand__point">
              <span class="brand__number">05</span>
              <p class="brand__text">Venenatis lectus magna fringilla urna</p>
            </li>
            <li class="brand__point">
              <span class="brand__number">06</span>
              <p class="brand__text">Venenatis lectus magna fringilla urna</p>
            </li>
          </ul>
          <button class="brand__arrow brand__arrow-left active"></button>
          <button class="brand__arrow brand__arrow-right"></button>
          <button class="brand__close"></button>
        </div>
      </section>
    </li>
  </ul>
  <img class="logo" src="/img/icons/logo.svg" alt="Логотип" />
</div>
